.fullPage {
  height: 100vh;
  width: 100vw;
  background-color: rgba(255,255,255,0.6);
  margin-bottom: 70px;
  text-align: start;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  overflow-y: hidden;
}

.hashtagTitle {
  display: flex;
  flex-direction: row;
  margin: 20px 0 -20px 20px;
  position: relative;
  animation: mymove 2s;
}

.hashtagTitle p {
  margin-top: 5px;
  font-size: 1.5em;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: darkslategray;
  text-shadow: 2px 0px rgba(255, 188, 63, 0.75);
}

.hashtagIcon {
   font-size: 2.7em;
   color: transparent;
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: darkslategray;
   text-shadow: 3px 3px rgba(255,165,0,.75);
   margin-right: 10px;
}

.container {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  border-top: 3px double #fdbe83;
  border-bottom: 5px double #fdbe83;
  /* background-color: #fdbe83; */
  padding: 15px 0px 0px 0px;
}

.card {
  flex-shrink: 0;
  width: 100px;
  height: 180px;
  border-radius: 10px;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* ANIMATIONS */
/* VIDEO SCROLLBAR */
::-webkit-scrollbar {
  width: 0px;
}

/* HASHTAG TITLE ANIMATION */
@keyframes mymove {
  from {left: 200px; opacity: 0.2}
  to {left: 0px; opacity: 1}
}