.containerTop {
  height: 100vh;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background-color: aqua;
}

.logo {
  height: 250px;
}

.circle {
  margin-top: 50px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 3px solid #fdbe83;
  -webkit-animation: ping 1.2s ease-in-out 3s infinite both;
  animation: ping 1.2s ease-in-out 3s infinite both;
}


@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}
