ol,
ul {
  list-style: none;
}

.frame {
  text-align: center;
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  color: darkslategray;
  background-color: rgba(255,255,255, 0.65);
  margin-bottom: 70px;
}

.logo {
  width: 10%;
}

header {
  overflow: hidden;
  display: flex;
}

header {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 5px;
}

.person {
  border-radius: 10px;
  margin: 5px 10px;
  padding-top: 15px;
  background-color: white;
  box-shadow: 2px 2px 7px 5px rgba(29, 29, 29, 0.3);
}

.person .person-photo {
  overflow: hidden;
}

.person .person-description {
  text-align: left;
  padding: 15px 25px;
  border-radius: 1px;
}

.person-name-age {
  font-weight: bold;
  font-size: 1.7em;
  margin-top: -5px;
}

.person .person-info {
  margin-top: -12px;
  margin-bottom: 0;
  font-size: 1.2em;
}

.person img {
  margin: 0 auto;
  width: 93%;
  height: 55vh;
  /* height: 440px; */
  display: block;
  object-fit: cover;
  border-radius: 10px;
  z-index: 1;
}

#actions {
  width: 85vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px auto;
}

#actions button {
  width: 50px;
  height: 50px;
  padding: 12px;
  border: 0;
  border-radius: 50%;
  background-color: #ffefe1;
  cursor: pointer;
  box-shadow: 0 3px 5px 0 rgb(255, 166, 49);
}

#actions button img {
  width: 100%;
  position: relative;
  height: auto;
}

#actions button:nth-of-type(2),
#actions button:nth-of-type(3) {
  width: 60px;
  height: 60px;
  padding: 15px;
}

.rewindIcon {
  position: absolute;
  z-index: 10;
}

.rewindIconShadow {
  margin-top: -48px;
  margin-left: 1px;
  z-index: 1;
  /* color: #f89940;
  color: #cf8035; */
}

.dislikeIcon {
  position: absolute;
  font-size: 2.3em;
  margin-top: -2px;
  margin-left: 3px;
  z-index: 10;
  color: rgb(218, 80, 80);
}

.dislikeIconShadow {
  margin-left: 4px;
  font-size: 2.3em;
  z-index: 1;
  color: rgb(168, 70, 70);
}

.likeIcon {
  position: absolute;
  transform: scale(1.2);
  z-index: 10;
}

.likeIconShadow {
  margin-top: -51px;
  margin-left: 3px;
  transform: scale(1.2);
  z-index: 1;
  /* color: #d4b38d;
  color: #6b573e; */
}

.superLikeIcon {
  position: absolute;
  margin-top: 7px;
  transform: scale(1.8);
  color: #3ab9b9;
  z-index: 10;
}

.superLikeIconShadow {
  color: #319696;
  margin-top: 7px;
  margin-left: 1px;
  transform: scale(1.8);
  z-index: 0;
  /* color: #d4b38d;
  color: #6b573e; */
}

#lonely {
  padding: 10px;
  border-radius: 1px;
  background-color: rgba(255,255,255,0.6);
  margin-bottom: 65px;
}

#lonely p {
  font-size: 1.1em;
  margin-top: 10px;
  margin-bottom: 3px;
}

.lonelyTitle {
  font-size: 1.2em;
  border-top: 1px solid #fdbe83;
  border-bottom: 5px double #fdbe83;
  line-height: 30px;
}

#liked-people {
  margin: auto;
  overflow-y: scroll;
  color: #d4b38d;
  margin-top: -20px;
}

#liked-people .liked-person {
  display: inline-block;
  width: 33%;
  margin-top: 10px;
}

.container {
  display: flex;
  overflow-x: scroll;
  width: 100vw;
  margin-bottom: -5px;
  /* border: 1px solid black; */
}

#liked-people .liked-person-image img {
  width: 100px;
  height: 120px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 10px;
  margin: 0px 10px 0px 0px;
}

/* Stolen CSS */
.pulse {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #ffdedf;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  margin-top: 30px;
  margin-bottom: 35px;
  border: 3px solid #f5c9ca;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pulse img {
  width: 70%;
  border-radius: 50%;
  border: 5px solid white;
}

.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(241, 201, 202, 0.4);
  }
  100% {
    -webkit-box-shadow: 0 0 0 35px rgba(241, 201, 202, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(241, 201, 202, 0.4);
    box-shadow: 0 0 0 0 rgba(241, 201, 202, 0.4);
  }
  100% {
    -moz-box-shadow: 0 0 35px 35px rgba(241, 201, 202, 0);
    box-shadow: 0 0 35px 35px rgba(241, 201, 202, 0);
  }
}
