.profilePic {
  margin-top: 15px;
  height: 100px;
  border-radius: 50%
}

h4 {
  margin: 15px 0 5px 0;
}

h6 {
  margin: -20px auto;
}

p {
  font-size: 0.8em;
}

span {
  padding: 0px 5px;
  margin: 0px 2px;
  border-radius: 7px;
}

.runningSpan {
  background-color: #ffca98;
}

.pilatesSpan {
  background-color: #fcb3a6;
}

.yogaSpan {
  background-color: #a6fcfc;
}

.weightSpan {
  background-color: #cbfcbf;
}
