body {
  background-image: url("./assets/images/555.jpg");
  background-size: 100vw auto;
  background-repeat: repeat;
  font-family: 'Roboto Condensed', sans-serif;
}

.App {
  text-align: center;
}

.page {
  position: absolute;
  left: 0;
  right: 0;
  border: none;
}

/* HEXAGON ONE */
.hexagon {
  width: 100px;
  height: 45px;
  position: relative;
}

.hexagon, 
.hexagon:before, 
.hexagon:after {
  background: red;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);   
}

.hexagon:before {
  content: "";
  position: absolute;
  left: 22px;
  width: 57px;
  height: 57px;
  transform: rotate(145deg) skew(22.5deg);
}

.hexagon:after {
  content: "";
  position: absolute;
  left: 22px;
  width: 57px;
  height: 57px;
  transform: rotate(145deg) skew(22.5deg);
}

.hexagon:before {
  top: -29px;
}

.hexagon:after {
  top: 18px;
}

.hexagon span {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100px;
  height: 45px;
  background: red;
  z-index: 1;
}

/* PAGE ENTER EXIT TRANSITIONS */
.fade-appear
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active
.fade-enter.fade-enter-active {
  animation: slideInLeft 1s forwards; 
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  animation: slideOutLeft 1s forwards;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    /* visibility: hidden; */
    transform: translate3d(-100%, 0, 0);
  }
}